.pequeno{
	font-size: 8px !important;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#d8cfc540;
}

.input-group-addon{
	width: auto;
}
